.popup__name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 54px 36px 0;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 610px) {
    .popup__name {
        margin: 75px 22px 0;
    }
}